footer{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 30px;
    background-color: rgb(71, 70, 70);
    margin-bottom: 50px;
    height: 100px;
}

footer>div>a>img{    
    box-shadow: 3px 3px 10px black, 0px 0px 25px #0397fa;
    transition: all 0.6s linear;
    border-radius: 11px;
    width: 100%;
}

footer>div>a>img:hover{
    animation-name: bounce;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

@media screen and (min-width: 550px) {
    footer>div>a>img{
        border-radius: 22px;
    }
    
    footer {
        grid-template-columns:80px 80px 80px;
    }
    footer>div>a>img:hover{
        animation-name: bounce;
        animation-duration: 2.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }
}