:root {
  --main-primary-backgroundcolor: rgb(117, 117, 117);
  --main-primary-fontcolor: #fff; 
  --main-primary-border: 1px solid #ffffff;
}

body {
  background-color: var(--main-primary-backgroundcolor);
}

main {
  color: var(--main-primary-fontcolor);
}

header{
  background-image: linear-gradient(-225deg, #3b557b 20%, #3584A7 51%, #30D2BE 100%);
  color: black!important;
  display: flex;
  flex-direction: row;
  padding: 0px 40px 0px 40px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-family: monospace;
}



/* -------------- ESTILOS PARA EL FORMULARIO------------------ */
.cont{
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  

  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .cuerpo >header{
    width: 100%;
    margin-left: 0px;
    color: var(--main-primary-fontcolor);
  }

  summary{
    text-align: center;
  }

  .marco{    
    width: 100%;
    border: 1px solid #ffffff;
    background: #65a9d7;   
    background: -webkit-linear-gradient(top, #c6c8c9, #1213138a);
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .t2{  
    color: #fff;  
    background: none;
    box-shadow: 5px 5px 15px inset black;
  }

  .radio{
    margin: 12px;
  }

  main >form >fieldset{
    color: #000;
  }
  
  
  .legend{
    padding: 3px;
    color: #fff;
    border: 1px solid #3e7092;
    background: #65a9d7;
    background: -webkit-linear-gradient(top, #142b3a, #4a9bd1);
    border-radius: 8px;
  }

  main>form>fieldset>textarea{
    box-shadow: 0 1px 8px #000 inset, 0 1px 10px #444;
  }

  main>form>fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .checkB{
    color: #fff;
    border: 1px solid #3e7092;
    background: -webkit-linear-gradient(top, #142b3a, #4a9bd1);
    border-radius: 8px;
    font-size: 18px;
  }
  
  .inForm{
    max-width: 250px;
    margin: 0px;
    
    display: block;
    border-radius: 8px;
    
    height: 40px;
    width: 100%;
  }

  .inFormCod{
    margin: 0px;
    display: block;
    border-radius: 8px;
    height: 25px;
    width: 45%;
    max-width: 100px;
  }
  
  #botones{
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    margin-top: 15px;
    border: 1px solid #96d1f8;
    background: #65a9d7;   
    background: -webkit-linear-gradient(top, #142b3a, #4a9bd1);
    padding: 15px 20px;
    border-radius: 8px;    
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    margin-bottom: 15px;
    }
 .button:hover {
    border-top-color: #28497a;
    border: 1px solid #28497a;
    background: #28497a;
    color: #ccc;
    
    box-shadow: 3px 3px 10px black, 0px 0px 25px #0397fa;
    transition: all 0.6s linear;
    }

   @media screen and (min-width: 768px){

    main>form>fieldset{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    main>form>fieldset>hr{
      display: none;
    }
    main>form .textbox{
      display: flex;
      margin-left: 0;
      margin-right: 0;
    }

    
   }
