.container-logo img{
    width: 65px;
    border: 2px outset rgb(6, 6, 184);
    border-radius: 50%;
    box-shadow: 1px 1px 15px;
    justify-content: start;
    
}

.container-logo{
    width: auto;
    margin-right: 40%; 
}

.app-title{
    padding: 5px;
    text-decoration: none;
    margin-left: 50px;
    border: 1px solid #96d1f8;
    background: #65a9d7;   
    background: -webkit-linear-gradient(top, #142b3a, #4a9bd1);
    padding: 5px 10px;
    border-radius: 8px;    
    color: white;
    font-size: 14px;
    box-shadow: 3px 3px 10px black;
}

nav{
    width: 100%!important;
    background-color: rgb(71, 70, 70);
    display: flex;
    align-items: center;
}

nav .app-title:hover{
    color: #000;
    background: -webkit-linear-gradient(top, #3f7192, #4a9bd1);
    background-color: #eaeaea;
    box-shadow: 3px 3px 10px black, 0px 0px 25px #0397fa;
    transition: all 0.6s linear;
}

nav .nav2 {    
    padding-bottom: 25px;
}



nav .nav2 .lista-detalle{
    width: 150px;
    border: 1px solid #96d1f8;
    background: #65a9d7;   
    background: -webkit-linear-gradient(top, #142b3a, #4a9bd1);
    padding: 5px 10px;
    border-radius: 8px;    
    color: white;
    position: absolute;
    margin: 0px;
    margin-right: 20px;
    z-index: 1;
}

.menu-phone li>a{
    padding: 5px 10px;
    border-radius: 8px;    
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 100px;
}
.menu-phone li>a:hover{
    color: #000;
    background-color: #eaeaea;
}
.menu-phone >li{
    display: flex;
    justify-content: left;
    text-align:center
}
.menu-phone >li>ul{
    display: none;
}
.menu-phone >li:hover>ul {
    display:block;
}

@media screen and (max-width: 550px) {
    .nav1{
        display:none;
    }
    .container-logo{
        margin-right: 30%; 
    }
}



@media screen and (min-width: 550px) {
    .nav2{
        display:none;
    }
    .container-logo{
        margin-right: 1%; 
    }
}

@media screen and (min-width: 650px) {
    .container-logo{
        margin-right: 20%; 
    }
}

@media screen and (min-width: 850px) {
    .container-logo{
        margin-right: 40%; 
    }
}


