.container-logo img{
    width: 65px;
    border: 2px outset rgb(6, 6, 184);
    border-radius: 50%;
    box-shadow: 1px 1px 15px;
    justify-content: start;
    
}

.app-title{
    padding: 5px;
    text-decoration: none;
    margin-left: 50px;
    border: 1px solid #96d1f8;
    background: #65a9d7;   
    background: -webkit-linear-gradient(top, #142b3a, #4a9bd1);
    padding: 5px 10px;
    border-radius: 8px;    
    color: white;
    font-size: 14px;
    box-shadow: 3px 3px 10px black;
}


.container-logo{
    width: auto;
    margin-right: 40%; 
}

nav{
    width: 100%!important;
    background-color: rgb(71, 70, 70);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}



nav li>a:hover{
    color: #000;
    background-color: #eaeaea;
}

/* .navbar > div{
    justify-content: end;
} */

details {
    width: 150px;
    border: 1px solid #96d1f8;
    background: #65a9d7;   
    background: -webkit-linear-gradient(top, #142b3a, #4a9bd1);
    padding: 5px 10px;
    border-radius: 8px;    
    color: white;
    position: absolute;
    z-index: 1;
}

.menu-phone li>a{
    padding: 5px 10px;
    border-radius: 8px;    
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 100px;
}
.menu-phone li>a:hover{
    color: #000;
    background-color: #eaeaea;
}
.menu-phone >li{
    display: flex;
    justify-content: left;
    text-align:center
}
.menu-phone >li>ul{
    display: none;
}
.menu-phone >li:hover>ul {
    display:block;
}

@media screen and (max-width: 550px) {
    .nav1{
        display:none;
    }
    .container-logo{
        margin-right: 50%; 
    }
}



@media screen and (min-width: 550px) {
    .nav2{
        display:none;
    }
    .container-logo{
        margin-right: 1%; 
    }
}

@media screen and (min-width: 650px) {
    .container-logo{
        margin-right: 20%; 
    }
}

@media screen and (min-width: 850px) {
    .container-logo{
        margin-right: 40%; 
    }
}